@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
:root{
    --color1 : #645CAA;
    --color2: #A084CA;
    --color3: #BFACE0;
}
*{
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    padding: 0;
    margin: 0;
    
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
}
.palm-t-c-2{
    color: var(--color2);
}
.palm-fs-2{
    font-size: 16px;
}
.palm-fs-4{
    font-size: 12.5px;
}
.palm-container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.palm-search-con{
    max-width: 900px;
    margin: 0 10px;
    width: 100%;
    margin: 0 auto;
}
.palm-color2{
    background-color: var(--color2);
    color: #fff;
}
.palm-grid-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.palm-card-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
.palm-card-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.palm-btn{
    transition: all .3s;
    border: 3px solid var(--color2);
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
}
.palm-btn:hover{
    border: 3px solid var(--color1);
    opacity: .8;
}
.palm-search-gif-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.palm-search-gif-con img{
    max-width: 300px;
    width: 100%;
}
.ano-grid-con{
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 20px;
    
}
.ano-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.ano-image {
    position: relative;
    overflow: hidden;
}
img.ano-after{
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}
.ano-image:hover img{
    opacity: 0;
}
.ano-image:hover img.ano-after{
    opacity: 1;
}

.card:hover{
    cursor:pointer;
}
.ano-hr {
    border-width:1px; 
    border-color:grey;
    margin:10px;
    
    
}
.ano-h3 {
    margin: 10px;
}
.ano-grid-con2{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
    margin: 20px 10px;
}
.ano-grid-con2 > img:hover{
    transform: scale(1.1);
}
.ano-img > img{
    transition: 1s;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    max-width: 400px;
    max-height: 200px;
}
.ano-img{
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.text-box{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 1s;
}
.text-box > h2{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.ano-img:hover > img{
    transform: scale(1.1);
    filter: blur(2px);
}
.ano-img:hover > .text-box{
    opacity: 1;
}
.ano-img{
    cursor: pointer;
}
@media screen and (max-width:640px){
    .ano-grid-con {
        grid-template-columns: repeat(2, 1fr);
    }
    .ano-grid-con2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .ano-img > img{
        max-width: 300px;
        max-height: 150px;
    }
}
.ano-grid-con3{
    display: grid;
    grid-template-columns:1fr;
    grid-row: span 2;
    gap: 20px;
    margin: 20px 10px;
}
.ano-grid-con3 > img{
    width: 100%;
    height: 100%;
}
