@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    overflow-y: scroll;

}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Prompt', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 1rem 62px 3rem 55px;
}
.social a{
    color: grey;
    margin: 0 10px;
    transition: color .5s ease;
}

.social a:hover{
    color: #fff;
}
.footer-bottom{
    background: #EBC7E8;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: lighter;
    text-transform: capitalize;
    word-spacing: 2px;
}

.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}