@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
:root{
    --color1 : #645CAA;
    --color2: #A084CA;
    --color3: #BFACE0;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: #535458;
}

a{
    text-decoration: none;
    color: #fff;
}

.ing-container{
    display: flex;
    justify-content: center;
    height: 80vh;
    padding-top: 100px;
}
.ing-con1{
    padding: 3em;
}

.ing-con2{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ing-con1 h2{
    margin-bottom: 20px;
}
.ing-input-group{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.ing-btn{
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid var(--color2);
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    color: #fff;
    background-color: var(--color2);
}

.ing-btn:hover{
    color: #fff;
    border: 1px solid var(--color3);
    background-color: var(--color3);
}

/*ลงทะเบียน input*/
.ing-con1 form .wrapper {
    width: 480px;
    background: #fff;
    padding: 30px;
}

.ing-con1 form .wrapper .ing-input {
    height: 40px;
    width: 100%;
    position: relative;
}

.ing-con1 form .wrapper .ing-input input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}



.ing-con1 form .wrapper .ing-input label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.ing-input input:focus~label,
.ing-input input:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    color: var(--color2) !important;
}

.ing-input .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}
.ing-input{
    margin-bottom: 20px;
}

.ing-input .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--color2);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.ing-input input:focus~.underline:before,
.ing-input input:valid~.underline:before {
    transform: scaleX(1);
}


/*ลงทะเบียน*/

.ing-con2 h2, .ing-con2 p{
    margin-bottom: 5px;
}
.ing-btn2{
    margin: 10px;
}
.ing-con3{
    display: none;
}
@media screen and (max-width:800px){
    .ing-con1 form .wrapper{
        width: 400px;
    }
    .ing-con2{
        padding: 0;
        padding-top: 3em;
    }
}
@media screen and (max-width:640px) {

    .ing-container{
        flex-direction: column;
        margin: 10%;
    }
    
    .ing-con1{
        padding: 0;
    }
    .ing-con2{
        display: none;
    }
    .ing-con3{
        display: flex;
    }
    .ing-con3 p a{
        color: var(--color2);
    }
    .ing-con1 form .wrapper {
        width: 100%;
    }
}